html {
  height: 100%;
  font-size: 16px;
  font-family: arial;
}

body {
  height: 100%;
  margin: 0;
}

#interface {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

#interface > header, #interface > footer {
  padding: .5em 1em;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#interface > header {
  -webkit-box-ordinal-group: -999;
      -ms-flex-order: -1000;
          order: -1000;
}

#interface > header h1 {
  margin: 0;
}

#interface > footer {
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
  font-size: smaller;
}

#app {
  padding: 1em;
}

.encadre {
  padding: 1em;
  border: 1px solid black;
  border-radius: .5em;
  -webkit-box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
          box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
  background-color: #e6e6e6;
}

.important {
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}

.rouge {
  color: red;
}

.geant {
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
}

.actif {
  font-weight: bold;
}

/*************************************************************
test.scss
**************************************************************/
div.feu {
  margin: 1em 0;
  padding: .5em;
  border-radius: .25em;
  font-size: 32px;
  background-color: yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.feu.vertical {
  width: 2.5em;
}

div.feu.horizontal {
  width: 5em;
}

div.feu table {
  background-color: black;
  border-spacing: .25em;
}

div.feu table tr td {
  padding: 0;
  border-radius: 100%;
  width: 1em;
  height: 1em;
}

fieldset.champ.disponibilites {
  border: 1px solid black;
  margin: 1em 0;
}

fieldset.champ.disponibilites:disabled {
  background-color: #eee;
  color: #999;
}

fieldset.champ.disponibilites label {
  display: block;
}

fieldset.champ.disponibilites label input[name="disponibilites"][id="disponibilites_matin"][value="matin"],
fieldset.champ.disponibilites label input[name="disponibilites"][id="disponibilites_midi"][value="midi"],
fieldset.champ.disponibilites label input[name="disponibilites"][id="disponibilites_soir"][value="soir"] {
  -webkit-box-shadow: .1em .1em .2em black;
          box-shadow: .1em .1em .2em black;
  margin-left: 1em;
}

div.divertissement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

div.divertissement img {
  display: block;
}

div.divertissement figure {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  padding: 1em;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: whitesmoke;
  -webkit-box-shadow: .2em .2em .4em #0008;
          box-shadow: .2em .2em .4em #0008;
}

div.divertissement figcaption {
  background-color: #9502b9;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

section.recette {
  padding: 0em 2em;
  border: .2em solid black;
  border-style: solid none;
  width: 18em;
}

section.recette h2 {
  font-style: italic;
}

section.recette li {
  margin: .5em 0;
}

#search {
  border: 1px dashed red;
  padding: 1em;
  margin: 1em 0;
}

#search h2 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */